* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
/* header section style  */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
ul {
  display: flex;
}
ul > li {
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  margin-right: 40px;
}
ul > li > a {
  text-decoration: none;
  color: #424242;
}
/* banner style start from here  */
.banner-con {
  width: 800px;
  text-align: center;
  margin: 0px auto;
}
.banner-title {
  color: #131313;
  font-size: 64px;
  font-weight: 700;
  padding: 0px 119px;
}
.banner-des {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  margin: 32px 0px;
}
.primary-btn {
  color: #fff;
  font-size: 20px;
  padding: 20px;
  font-weight: 600;
  border: 0px;
  border-radius: 8px;
  background: #ff900e;
  margin-bottom: 100px;
}
.banner > img {
  width: 98%;
  height: 700px;
}

/* feature section style start  */

.feature {
  display: flex;
  padding: 150px 300px;
  gap: 50px;
}
.left-feature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.img > img {
  width: 320px;
}
#span1 {
  color: #727272;
}
#span2 {
  color: #ff900e;
}
.right-feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.feature-title {
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
}
.btn-feature {
  width: 250px;
  margin: 30px 0px;
}

/* fact style start from here  */

.fact {
  max-width: 1440px;
  padding: 0px 200px;
}
.fact-des {
  width: 550px;
}
.card-con {
  display: flex;
  justify-content: space-around;
}
.card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 50px 40px;
}
.card-num {
  color: #424242;
  font-size: 45px;
  font-weight: 600;
}
.card-txt {
  color: #727272;
  font-size: 20px;
  font-weight: 600;
}

/* responsive for mobile devices */

@media screen and (max-width: 576px) {
  /* header style  */
  header {
    padding: 0;
  }
  /* nav style  */
  nav {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .nav-logo {
    width: 200px;
    padding: 15px;
  }
  ul > li {
    margin-right: 20px;
  }
  /* banner style  */
  .banner-con {
    width: 100%;
  }

  .banner-title {
    font-size: 30px;
    padding: 0;
  }
  .primary-btn {
    margin: 10px;
  }
  .banner > img {
    width: 100%;
    height: auto;
  }
  /* feature section  */
  .feature {
    display: flex;
    padding: 30px;
    gap: 20px;
    flex-direction: column;
  }
  .left-feature {
    display: block;
  }
  /* fact container  */
  .fact {
    padding: 5px;
    text-align: center;
  }
  .fact-des {
    width: 95%;
  }
  .card-con {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px 15px;
    gap: 25px;
  }
}
/* tablet devices */

@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px 0px;
  }
  nav {
    flex-direction: column;
  }
  .banner-con {
    width: 98%;
    padding: 0;
  }
  .banner-title {
    padding: 0;
  }
  .banner > img {
    width: 100%;
    height: auto;
  }
  /* feature section  */
  .feature {
    flex-direction: column;
    padding: 30px;
    margin: auto;
  }

  /* fact section  */
  .fact {
    padding: 0px 50px;
  }
  .card-con {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px 15px;
    gap: 25px;
  }
}
